---
# Main CSS file
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Oswald|Roboto+Condensed|Crimson+Text');

$hero-height: 600px;

// HERO ELEMENTS

body{
  margin: 0;
  width: 100%;
  height: 100%;
}

.hero-background{
  height: $hero-height;
  width: 100%;
  background-image: url("/assets/img/hero_temp.jpg");
  background-position: center center;
}

.hero-video{
  position: fixed;
  width: 100%;
  z-index: 0;

  video{
    width: 100%;
  }
}

.hero-mask{
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: $hero-height;
  display: table;
  z-index: 1;
  position: relative;
}

.hero-content{
  text-align: center;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  color: white;
  font-size: 3em;
  display: table-cell;
  vertical-align: middle;
}

#video-preload{
  display: none;
}

.video-standby{
  width: 100%;
  height: $hero-height;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 100;
}

.video{
  width: 100%;
  height: $hero-height;
  z-index: 100;
}

.social-presences{
  a{
    color: lightblue;
    text-decoration: none;
  }
}

// END HERO ELEMENTS

// START CONTENT ELEMENTS

.content{
  font-family: "Lato", sans-serif;
  margin: 10px auto;
  max-width: 900px;
  color: #353535;

  a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
  }

  p{
    font-size: 1.2em;
  }

  h1{
    font-weight: 300;
    font-size: 2.5em;
    text-align: center;
    font-family: "Roboto Condensed";
    margin-bottom: 0px;
  }

  subtext{
    color: gray;
    font-family: "Crimson Text", cursive;
    font-style: italic;
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }


  .profile{
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
    margin-bottom: 30px;
   
    h2, h3{
      font-family: "Roboto Condensed";
      text-transform: uppercase;
    }

    h2{
      margin-bottom: 10px;
    }
    
    h3{
      margin-top: 0px;
      margin-bottom: 10px;
    }

    p{
      margin-top: 0px;
      font-size: 1.2em;
    }
  }
}

footer{
  color: gray;
  margin: 15px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "ROboto Condensed";

  .heart{
    color: red; 
  }

  a{
    color: gray;
    text-decoration: none;
    border-bottom: 1px solid gray;
  }
}

.mono{
  font-family: monospace;
}