<div class="hero" style="background-image: url(/assets/img/header.webp)">
  <h1>
    We are the Alpha Knights.
  </h1>
  <div>
  </div>
</div>

<section style="background-image: url(/assets/img/hero_dim_yearbook.jpg); color: white; background-position: center; background-size: cover">
  <div class="section big-section group">
    <div class="col span_1_of_5">
      <h2>Who are we?</h2>
    </div>
    <div class="col span_4_of_5">
      We, Alpha Knights, strive to utilize cooperation, innovation, ingenuity, and intellectuality into one cohesive team to grow as the future generation of builders. Our passion for robotics has exponentially cultivated our excitement and enthusiasm for engineering, as many of our students will soon be prospective workers in STEM fields. To inspire, encourage, and stimulate the students of San Marcos is what we aim to do for our community. Ultimately, we aspire to reflect original creativity and bring these designs to life for the future team of San Marcos High School.
    </div>
  </div>
</section>

<section style="background-color: silver">
  <div class="section group">
    <div class="col span_1_of_5">
      <h2>Highlights</h2>
    </div>
    <div class="col span_4_of_5">
      The Alpha Knights have received several awards, despite only participating in
      FRC for a single season:

      <ul>
        <li>Matt Grob Innovation Award</li>
        <li>Rookie of the Year Award</li>
        <li>Attended Houston Championships</li>
      </ul>
    </div>
  </div>
</section>

<section style="background-color: #273B7B; color: white">
  <div class="section group">
    <div class="col span_1_of_5">
      <h2>Sponsors</h2>
    </div>
    <div class="col span_1_of_5">
      <h3 class="no-margin">Sponsor Name/Logo</h2>
    </div>
    <div class="col span_3_of_5">
      Aspernatur corrupti dignissimos quidem reiciendis reprehenderit dolore praesentium unde. Aut commodi sequi libero. Non rerum quia atque. Sed possimus et provident aut. Sit dolor iusto sed molestiae. Aut culpa optio sit exercitationem sed ut.
    </div>
  </div>

  <div class="section group">
    <div class="col span_1_of_5"></div>
    <div class="col span_1_of_5">
      <h3 class="no-margin">Another Sponsor</h2>
    </div>
    <div class="col span_3_of_5">
      Aspernatur corrupti dignissimos quidem reiciendis reprehenderit dolore praesentium unde. Aut commodi sequi libero. Non rerum quia atque. Sed possimus et provident aut. Sit dolor iusto sed molestiae. Aut culpa optio sit exercitationem sed ut.
    </div>
  </div>
</section>